body,html{
    margin: 0;
    font-family: 'Raleway',sans-serif;
    background: #fff;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbar-brand{
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}

.jumbotron{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding: 350px 0px;
}

.container h1{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
}

.lead{
    font-size: 16px;
    color: #fff;
    letter-spacing: 10px;
    line-height: 29px;
    text-align: center;
    font-weight: 500;
}

h3.tittle{
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

p.sub-tittle{
    width: 65%;
    line-height: 29px;
    color: #566773;
    letter-spacing: 0px;
}

.image-left{
    padding: 176px 192px 0px 96px;
    box-sizing: border-box;
}

.banner1{
    background: #01a3a4;
}

.banner.row{
    margin: 0px;
}

.grid-info1{
    padding: 0px;
    background-image: url(../images/g1.jpg);
    background-size: cover;
    position: relative;
    min-height: 475px;
}

.text-left{
    padding: 175px 190px 0 80px;
}

.text-left h3{
    font-size: 21px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}

.text-left p{
    color: white;
}

.banner2 h3{
    color: #292929;
}
.banner2{
    background: white;
}

.banner2 p{
    color: #566773;
}

.grid-info1.kedua{
    background-image: url(../images/g5.jpg);
}

.banner3{
    background: #01a3a4;
}

.banner3 h3{
    color: white;
}

.banner3 p{
    color: white;
}

.grid-info1.ketiga{
    background-image: url(../images/g6.jpg);
}

.team{
    padding: 100px 0px;
}

.team h3.tittle{
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

.row{
    margin: 85px 0px;
}

.card-info{
    padding: 48px 32px;
    background: rgba(1, 163, 164, 0.08);
    border: 1px solid transparent;
}

.card-info h3{
    font-size: 16px;
    font-weight: 800;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sub-info{
    padding-bottom: 5px;
    color: #0fc7c7;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

ul.team_sosmed li{
    list-style: none;
    display: inline-block;
}

.btn{
    border-radius: 25px;
    width: 100px;
}

.gal-img{
    padding: 10px;
}

.gal-img img{
    border-radius: 4px;
}

.foot{
    background: coral;
    height: 100%;
}

.white{
    color: white !important;
}

.email form{
    width: 62%;
    margin: 0px auto;
}

.flex{
    display: flex;
}

.email input[type="email"]{
    padding: 19px 24px;
    font-size: 15px;
    color: #888;
    letter-spacing: 2px;
    border: none;
    flex-basis: 100%;
    font-weight: 600;
}

.email button.btn1{
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 14px 0px;
    border: transparent;
    background: #01a3a4;
    flex-basis: 30%;
    text-transform: uppercase;
    margin-left: -32px;
    font-weight: 600;
    cursor: pointer;
}